<%= image_tag (@photo.image_file_name) %>
<%= @photo.description %>

<%= link_to 'Delete', photo_path(@photo), data: {confirm: "Are You Sure?", method: "delete"} %>
<%= link_to 'Edit', edit_photo_path(@photo) %>

<br>

<% @photo.content_tags.each do |tag| %>
  <%= link_to tag.name, edit_photo_content_tag_path(@photo, tag)  %>
<% end %>
<br>
<hr>
<%= link_to 'Add Comment', new_photo_comment_path(@photo) %>
<br>
<% @photo.user_tags.each do |usertag| %>
  <%= usertag.name[2..(usertag.name.length/2) - 3]%>
  <!-- thanks mike  -->
<% end %>
<br>
<h3>Comments</h3>
<% @photo.comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= comment.author %>
    </div>
    <div class="panel-body">
      <p><%= comment.content %></p>
      <small><%= comment.created_at.in_time_zone.strftime("%m/%d/%Y at %I:%M%p") %></small>
      <br>
      <% if current_user.username === comment.author %>
        <small><%= link_to "Edit", edit_photo_comment_path(@photo, comment) %></small>
        <small><%= link_to "Delete", photo_comment_path(@photo, comment), data: {confirm: "You sure?", method: 'delete'} %></small>
      <% end %>
    </div>
  </div>
  <br>
<% end %>

<br>
<br>

<%= link_to 'Favorite Photo', create_favorite_path(@photo), method: :post %>

<%= link_to 'Tag Users', new_photo_user_tag_path(@photo) %>
